Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
flask-cors==6.0.1
google-ai-generativelanguage==0.6.15
google-genai==1.46.0
google-api-core==2.28.0
protobuf==5.29.5
pydantic==2.11.7
pydantic_core==2.33.2
requests==2.32.4
python-dotenv==1.1.1
Werkzeug==3.1.3
